<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<krakenink_general>
			<customer_group_pricing>
				<customer_groups/>
			</customer_group_pricing>
		</krakenink_general>
	</default>
</config>
